@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg-gray-100 */
body {
    /* background-color: #f3f4f6 */
    /* background-color: #E9ECF8 */
    /* background-color: #551a8b */
    /* background-color: #a94064 */

     /* background-color: #cd5700 */
    /* background-color: #65000b */
    /* background-color: #6f2da8 */

}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #bbbbbb;
    /* border-radius: 5px; */
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
}
